.fadeRigt-enter-active, .fadeRigt-leave-active {
    transition: opacity 0.5s, transform 0.5s;
}
.fadeRigt-enter, .fadeRigt-leave-to /* .fadeRigt-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(100vh);
}

.fadeIn-enter-active, .fadeIn-leave-active {
    transition: opacity 0.2s, transform 0.3s;
}
.fadeIn-enter, .fadeIn-leave-to /* .fadeRigt-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: scale(0.9);
}
