

// Modifier
$pages: var(--pages);
$scrollbar-width: var(--scrollbarWidth);
$slide-x: var(--slideX);

// Main pallette
$primary: red;
$secondary: blue;

$light-gray: #eee;
$dark-gray: #333;

$trasparent-dark-gray: rgba(51, 51, 51, 0.8);

// Calculations
$slider-width: calc(#{$pages} * 100%);
$section-width: calc(#{$slide-x} + #{$scrollbar-width});
$section-portion: calc(100% / #{$pages});

$asdasd:var(--yRandom);
