

// Modifier
$pages: var(--pages);
$scrollbar-width: var(--scrollbarWidth);
$slide-x: var(--slideX);
$slide-y: var(--slideY);
$navbar-height: 67px;
$mobile-section-p: 120px;

// Main pallette
$primary: red;
$secondary: blue;

$light-gray: #eee;
$dark-gray: #333;

$trasparent-light-gray: rgba(238, 238, 238, 0.8);
$trasparent-dark-gray: rgba(51, 51, 51, 0.9);
$trasparent-black: rgba(51, 51, 51, 0.5);

// Calculations
$slider-width: calc(#{$pages} * 100%);
$section-width: calc(#{$slide-x} + #{$scrollbar-width});
$section-portion: calc(100% / #{$pages});