.about {
    @include flex-center();
    width: 100%;

    &__bg {
        position: absolute;
        opacity: 0.05;
        width: 120vh;
        height: auto;
        z-index: -1;
        left: -30vh;
    }

    &__img {
        $side: 35vh;
        margin: 5vh;

        width: $side;
        height: $side;

        background: url('./assets/img/about/me.jpg') no-repeat center center/120%;

        transition: all 1s;

        :hover > & {
            // $side: 40vh;

            // width: $side;
            // height: $side;
            margin: 3vh;

            transform: scale(1.2);
            background-size: 100%;
        }
    }

    &__desc {
        text-align: right;

        margin-top: 20vh;
        margin-right: 40px;


        h1 {
            margin-bottom: 2rem;

            font-size: 4rem;
            line-height: 0.8;

            .jojo {
                cursor: pointer;
            }
        }

        p {
            max-width: 500px;
        }

    }
    
    .social {
        font-size: 2.2rem;
        margin: 18px 0;
        position: absolute;
        right: 20px;
        bottom: -40px;

        i {
            margin: 0 8px;
            transition: all 0.2s;
            opacity: 0.6;

            &:hover {
                // font-size: 2.5rem;
                opacity: 1;
                transform: translateY(-5px);

            }
        }
    }
}