@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Space+Mono:700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'variables';
@import 'animations';

@import 'mobile';

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.2rem;
    
    color: white;
    background: $dark-gray;
    overflow: hidden;
    // scrollbar-width: thin;

    margin-right: -#{$scrollbar-width};
}

a, a:hover {
    color: white;
    text-decoration: none;
}

//Generals
.container {
    @include flex-center();
    position: relative;

}

// Components
.navbar {
    background: $trasparent-dark-gray;

    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;

    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    &__logo {
        
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 50px;
            margin: 0 10px;
            transition: transform 0.2s ease-out;
        }

        &:hover{
            img{ 
                transform: rotate(-10deg);
            }
        }

        // h1 {
        //     &::before {
        //         content: '';
        //         background: url('./assets/icons/logo.svg') no-repeat center center/cover;;
        //         height: 100%;
        //         width: 60px;
        //     }
        // }
    }

    .nav {
        display: flex;
        list-style: none;

        &__btn {
            position: relative;
            display: inline-block;
            padding: 1.5rem;

            
            cursor: pointer;
            
            transition: all 0.3s ease;

            &:after {
                content: '';

                width: 100%;
                height: 0;

                background: white;

                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 2;

            }

            &:hover, &.is-active {
                background: lighten($dark-gray, 2%);
            }

            &.is-active {
                transition: all 1s ease;

                padding: 1.5rem 2rem;

                &::after {
                    height: 2px;
                }
            }
        }
    }
}

.btn {
    cursor: pointer;
    display: inline-block;

    padding: 0.8rem 1.5rem;
    // margin: 1rem 0;
    // border: 1px solid white !important; 

    transition: all 0.3s;

    &:hover {
        background: lighten($dark-gray, 2%);
    }

    &--active, &:active {
        color: $dark-gray;
        background: white;

        &:hover {
            background: white;
        }
    }
}

// Slider
.home {
    position: relative;
    float: left;
    display: flex;

    width: $slider-width;
    
    transition: transform 1s ease-in-out;
    // transform: translate3d($section-width, 0, 0);
    transform: translate3d($slide-x, 0, 0);
    
    &__section {
        display: flex;
        justify-content: center;
        overflow: hidden;
        align-items: center;

        width: $section-portion;
        height: 100vh;
    }
}

// Sections

.preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    position: relative;

    width: 80%;
    height: 60%;

    // &__text-wrapper {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     height: 60%;
    //     left: 40vh;

    //     mix-blend-mode: difference;
    // }

    &__link-wrapper {
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: max-content;
        z-index: 2;

        mix-blend-mode: difference;

    }
    
    &__link {
        font-family: 'Space Mono', monospace;

        transition: all 0.6s ease-out;
        opacity: 0.5;

        font-size: 3.5rem;
        line-height: 1.2;

        &:hover,&.is-active {
            transform: translateX(16px);
        }
        
        &.is-active {
            opacity: 1;
            font-size: 3.8rem;
        }
    }

    &__desc {
        bottom: 0;
        max-width: 600px;
        z-index: 2;

        mix-blend-mode: difference;

    }

    &__img-wrapper {
        position: absolute;
        z-index: 1;
        top: 0;

        // mix-blend-mode: difference;

        img {
            max-width: 600px;
            max-height: 300px;
            position: absolute;

            cursor: move;

        }
    }
}

.about {
    @include flex-center();

    width: 100%;

    &__bg {
        position: absolute;
        opacity: 0.05;
        width: 120vh;
        height: auto;
        z-index: -1;
        left: -30vh;
    }

    &__img {
        $side: 35vh;
        margin: 5vh;

        width: $side;
        height: $side;


        background: url('./assets/img/about/me.jpg') no-repeat center center/120%;

        transition: all 1s;

        :hover > & {
            $side: 40vh;

            width: $side;
            height: $side;

            background-size: 100%;

            margin: 0;
        }
    }

    &__desc {
        text-align: right;

        margin-top: 20vh;
        margin-right: 40px;


        h1 {
            margin-bottom: 2rem;

            font-size: 4rem;
            line-height: 0.8;

            .jojo {
                cursor: pointer;
            }
        }

        p {
            max-width: 500px;
        }

    }
    
    .social {
        font-size: 2.2rem;
        margin: 18px 0;
        position: absolute;
        right: 20px;
        bottom: -40px;

        i {
            margin: 0 8px;
            transition: all 0.2s;
            opacity: 0.6;

            &:hover {
                // font-size: 2.5rem;
                opacity: 1;
                transform: translateY(-5px);

            }
        }
    }
}

.works {
    $timing: 0.8s;

    @include flex-center();
    position: relative;

    width: 100%;

    &__wrapper {
        width: 80%;
        // height: 80%;

        // display: grid;
        // flex-wrap: wrap;
        // grid-auto-columns: 10vh;
        // grid-auto-rows: 10vh;
        // grid-gap: 1rem;

        display: flex;
        flex-wrap: wrap;

        &:hover {

        }
    }

    &__project {
        $side: 25vh;
        margin: 10px;

        width: $side;
        height: $side;
        position: relative;


        // background: red;
        // border: 1px solid green;
    }

    &__thumbnail-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;

        overflow: hidden;
        cursor: pointer;
        
        :hover > & {
            .works__thumbnail {
                width: 100%;
                height: 100%;
    
                img {
                    opacity: 1;
                    max-height: 100%;
                }
            }
        }
    }

    &__thumbnail {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
        width: 90%;
        height: 90%;

        transition: all $timing;

        img {
            position: absolute;
            max-height: 120%;
            opacity: 0.6;

            transition: all $timing;
        }
    }

    &__title {
        position: absolute;
        bottom: 0;
        right: 0;
        mix-blend-mode: difference;
        transition: all $timing;

        :hover > & {
            bottom: 10px;
            right: 10px;
        }
    }
}

.project {

    position: absolute;
    width: 100%;

    background: $trasparent-dark-gray;

    &__header, &__section {
        @include flex-center();
        
        width: 100%;
        height: 100vh;
    }

    &__content {

        
    }
    
    &__img {
        flex: 2;
        height: 60vh;

        background: url('./assets/img/projects/20coperti/thumbnail.jpg') no-repeat center center/cover;
    }

    &__desc {

        flex: 2;
        padding: 3rem;
        margin-top: 15vh;

        h1 {
            margin-bottom: 2rem;
        }

        p {
            max-width: 600px;
        }
    }

    .btn {
        margin: 1rem 0;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    max-width: 800px;
    
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
    }

    input[type="text"], textarea[type="text"]{
        font-family: 'Roboto Mono', monospace;
        font-size:16px;
    }

    input, textarea {
        background: darken($dark-gray, 3%);
        border: none;
        padding: 0.8rem 1.6rem;
        color: white;

        width: 100%;
    }

    &__header {
        margin-bottom: 2rem;

        h1 {
            font-family: 'Space Mono', monospace;
            margin-bottom: 1rem;
            font-size: 3rem;
        }
    }

    &__desc {
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-row: repeat(3, auto);
        grid-gap: 14px;

        width: 100%;
    }   

    &__name {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    &__title {

    }

    &__email {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__phone {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    &__why {
        grid-column-start: 1;
        grid-column-end: 5;

        textarea {
            min-height: 25vh;
        }
    }
}

