@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Space+Mono:700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'mixins';
@import 'variables';
@import 'animations';

@import 'components/carousel';
@import 'components/navbar';
@import 'components/button';

@import 'sections/preview';
@import 'sections/about';
@import 'sections/works';
@import 'sections/project';
@import 'sections/contact';

// Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.6rem;
    
    color: white;
    background: $dark-gray;

    @include for-tablet-landscape-up {
        overflow: hidden;
        line-height: 1.2rem;
    }
}

.remove {
    overflow-y: hidden;
}

h1,h2,h3 {
    line-height: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
-ms-overflow-style: none;
} 

a, a:hover {
    color: white;
    text-decoration: none;
}

// Slider
// .home {
//     position: relative;
//     display: flex;

//     width: $slider-width;
//     height: 100vh;
    
//     transition: transform 1s ease-in-out;
//     // transform: translate3d($section-width, 0, 0);
//     transform: translate3d($slide-x, 0, 0);
    
//     &__section {
//         // @include flex-center();
//         overflow-x: hidden;
//         overflow-y: auto;
//         position: relative;

//         width: $section-portion;
//         // height: 100%;
//         // margin-top: $navbar-height;

//         padding: 0 20px;
//     }
// }

.home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;

    overflow-y: hidden;
    transition: transform 1s ease-in-out;
    transform: translate3d(0, $slide-y, 0);

    @include for-tablet-landscape-up {
        flex-direction: row;
        width: $slider-width;
        height: 100vh;
        transform: translate3d($slide-x, 0, 0);
    }

    &__section {
        width: 100vw;
        min-height: 100vh;

        overflow: hidden;
        
        // .about, .works, .contact, .preview {
        //     margin-top: $mobile-section-p;
        //     padding-bottom: $mobile-section-p;
    
        // }

        @include for-tablet-portrait-down {
            padding: 60px 20px;
            
            .about, .works, .contact, .preview {
                align-self: flex-start;
            }
        }

        @include for-tablet-landscape-up {
            @include flex-center();
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;

            width: $section-portion;
        }
    }
}

.copyright {
    padding: 20px 40px;
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 0.8rem;

    img {
        width: 0.8rem;
    }
}


// @import 'mobile';

