// smartphone and lower

@media (min-width: 639px) {

    
}

@media (max-width: 639px) {
    
    body{

        line-height: 1.6;
        overflow-y: auto;
    }

    .navbar {

        &__wrap {
            flex-wrap: wrap;
        }
        
        &__logo {
            
            font-size: 12px;
            display: flex;
            margin: 1.2rem 2rem;

            align-items: center;
            justify-content: center;
    
            img {
                width: 50px;
                margin: 0 10px;
                transition: transform 0.2s ease-out;
            }
    
            &:hover, &:active, &:focus {
                img{ 
                    transform: rotate(-10deg);
                }
            }
        }

        &__menu, .nav li, .nav__btn {
            // width: 100%;
        }

        &__menu {
            @include flex-center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100vh;
            background: $trasparent-dark-gray;
            font-size: 1.2rem;

            transform: translatex(-100vw);
            opacity: 0;
            transition: opacity 0.5s, transform 1s;

            &.is-open {
                transform: translateY(0);
                opacity: 1;
            }

            .nav {
                @include flex-center;
                flex-direction: column;
                width: 40%;
                height: 40%;

                &__btn {
                    width: 100%;

                    margin: 0.5rem 0;
                    background: $trasparent-dark-gray;

                    border: 1px solid #ffffff;

                    &::after {
                        display: none;
                    }

                    &:active, &:focus, &.is-active {
                        background: white;
                        color: $dark-gray;

                        // &::after {
                        //     height: 100%;
                        //     width: 3px;
                        // }
                    }
                }
            }

            
        }
    
        &__burger {

            display: block;

        }
    }

    .home {
        flex-direction: column;
        width: 100vw;
        height: auto;

        overflow-y: hidden;

        transform: translate3d(0, $slide-y, 0);

        &__section {
            width: 100vw;
            min-height: 100vh;

            overflow: hidden;
        }
    }
    
    .preview {
        width: 100%;
        height: 100%;

        // min-height: 80vh;

        // background: url('./assets/img/about/me.jpg') no-repeat center center/cover;

        &__link {
            font-size: 2.6rem;

            &:hover,&.is-active {
                transform: translateX(10px);
            }
            
            &.is-active {
                opacity: 1;
                font-size: 2.6rem;
            }
        }

        &__img-wrapper {
            
            @include flex-center();

            .img-bg {
                // min-width: 100%;
                min-height: auto;
                max-width: none;
                max-height: none;
                opacity: 0.1;
                position: relative;

                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);

                cursor: none;
            }
        }
    }

    .works {
        width: 100%;
        align-items: flex-start;
        &__wrapper {
            --columns: 2;
        }
    }

    .project {
        .btn {
            &__close {
                top: 20px;
            }
        }
        
        &__header {
            height: auto;
            flex-direction: column;
        }
        &__img {
                justify-content: flex-start;
                height: auto;
                
                img {
                    width: 100%;
                }
            }
            &__desc {
                margin-top: 0;
            }
    }

    .about {

        &__img {
            $side: 250px;
            
            width: $side;
            height: $side;
        }

        &__desc {
            text-align: right;
    
            margin-top: 20vh;
            margin-right: 40px;
        }
    }

    .contact {
        &__form {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, auto);
        }

        &__name {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    
        
    
        &__email {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    
        &__phone {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &__subject {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    
        &__message {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }

}




// tablet and lower
@media (max-width: 949px) {
    
    .home {

        // height: auto;
        &:first-child {

        }

        
        &__section {
            padding-bottom: 120px;

            &:first-of-type {
                margin-bottom: 80px;
            }
        }
    }

    .about {

        .container {
            flex-direction: column;
            align-items: flex-start;
        }

        &__desc {
            text-align: left;
            margin: 0;
            order: 2;

            h1 {
                margin-bottom: 1rem;
    
                font-size: 3rem;
            }
        }

        &__img {
            margin: 0;
            margin-bottom: 5vh;
            order: 1;

            :hover > & {
                margin: 0;
                margin-bottom: 5vh;
    
                transform: scale(1);
                background-size: 120%;
            }
        }

        &__social {
            position: initial;
            order: 3;
            margin: 30px 0;
            right: 10px;
            bottom: 0;
        }
    }

    .works {
        align-self: flex-start;
    }

}



// smartphone
@media (min-width: 640px) and (max-width: 767px) {

    .works {
        &__wrapper {
            --columns: 2;
        }
    }

}

//tablet
@media (min-width: 768px) and (max-width: 950px) {

    .works {
        &__wrapper {
            --columns: 3;
        }
    }

    .about, .works, .contact, .preview {
        margin-top: $mobile-section-p;
        padding-bottom: $mobile-section-p;

        align-self: flex-start;
    }

    .preview {
        &__link {
            font-size: 3rem;

            &:hover,&.is-active {
                transform: translateX(0);
            }
            
            &.is-active {
                opacity: 1;
                font-size: 3.3rem;
            }
        }
    }

    .about {
        .container {
            flex-direction: column;
            align-items: flex-start;
        }

        &__desc {
            text-align: left;
            margin: 0;
            order: 2;
        }

        &__img {
            margin: 5vh 0;
            order: 1;

            :hover > & {
                margin: 5vh 0;
    
                transform: scale(1);
                background-size: 120%;
            }
        }

        &__social {
            position: relative;
            order: 3;
        }
    }

}