.project {
    position: fixed;
    overflow-y: auto;
    scroll-behavior: smooth;
    top: 0;
    width: 100%;
    height: 100vh;

    z-index: 4;

    background: $trasparent-dark-gray;
    overflow-x: hidden;

    .btn {
        &__close, &__top {
            position: fixed;
            font-size: 4rem;
            right: 5vw;
            padding: 0px;
            z-index: 2;
        }

        &__close {
            top: 20px;

            @include for-tablet-landscape-up {
                top: 80px;
            }
        }

        &__top {
            bottom: 80px;
        }
    }

    &__header {
        @include flex-center();
        
        width: 100vw;
        height: 100vh;
        
        @include for-tablet-portrait-down {
            height: auto;
            flex-direction: column;
        }
    }
    
    &__img {
        @include flex-center();

        flex: 2;
        justify-content: flex-start;
        height: auto;
        overflow: hidden;

        img {
            height: 100%;

            @include for-tablet-portrait-down {
                width: 100%;
            }

            @include for-phone-down {
                width: auto;
                min-width: 100%;
                max-height: 400px;
            }
        }

        @include for-tablet-landscape-up {
            justify-content: center;
            height: 60vh;  
        }
    }

    &__desc {
        flex: 2;
        padding: 20px;

        h1 {
            font-family: 'Space Mono', monospace;
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        p {
            max-width: 600px;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        @include for-tablet-landscape-up {
            margin-top: 15vh;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;

        transform-origin: 0 0;

        padding: 120px 0;

        &__container {
            position: absolute;
            top: 0;
         height: 5500px;

        }

        img {
            max-width: 1200px;
            width: 90%;
            padding: 10px 0;
        }
    }
}