
.about {
    @include flex-center();
    position: relative;

    @include for-tablet-portrait-down {
        flex-direction: column;
        align-items: flex-start;      
    }

    &__bg {
        position: absolute;
        opacity: 0.05;
        width: 120vh;
        height: auto;
        z-index: -1;
        left: -30vh;
    }

    &__img {
        margin-bottom: 5vh;

        $img-side: 250px;
        width: $img-side;
        height: $img-side;

        background: url('./assets/img/about/me.jpg') no-repeat center center/120%;

        transition: all 1s;

        :hover > & {
            transform: scale(1);
            background-size: 120%;
        }

        @include for-tablet-landscape-up {
            order: 2;
            margin: 5vh;

            $img-side: 380px;
            width: $img-side;
            height: $img-side;

            :hover > & {
                margin: 4vh;
                transform: scale(1.2);
                background-size: 100%;
            }
        }

        @include for-big-desktop-up {
            $img-side: 420px;
            width: $img-side;
            height: $img-side;
            margin: 6vh;

            :hover > & {
                margin: 5vh;
            }
        }
    }

    &__desc {
        margin-bottom: 5vh;
        
        h1 {
            margin-bottom: 2rem;

            font-size: 3rem;
            line-height: 0.8;

            .jojo {
                cursor: pointer;
            }
        }

        p {
            max-width: 500px;
        }

        @include  for-tablet-landscape-up{
            order: 1;
            margin-top: 20vh;
            margin-right: 40px;
            text-align: right;

            h1 {
                font-size: 4rem;
            }
        }
    }
    
    &__social {
        font-size: 2.5rem;
        
        i {
            margin: 0 8px;
            transition: all 0.2s;
        }
        
        @include  for-tablet-landscape-up{
            order: 3;
            position: absolute;
            right: 20px;
            bottom: 50px;
            font-size: 3.2rem;
            
            i {
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                    transform: translateY(-5px);
                }
            }
        }

        @include for-big-desktop-up {
            font-size: 3.2rem;
            bottom: 0px;
        }
    }
}