.works {
    
    $timing: 0.8s;

    // The content width you use on your website
    --content-width: 100vw;
    
    // The size of the gutter  
    --gutter: 2rem;
    
    // The amount of columns
    --columns: 1;
    
    // This is the calculation for the row height.   
    $row-size: calc(( var(--content-width) - (var(--gutter) * (var(--columns) - 1))) / var(--columns));
    
    display: grid;

    width: 100%;
    max-width: var(--content-width);
    
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: $row-size;

    grid-column-gap: var(--gutter);
    grid-row-gap: var(--gutter);

    margin-bottom: 100px;

    @include for-tablet-portrait-up {
        --columns: 2;
        align-self: flex-start;
    }

    @include for-tablet-landscape-up {
        --columns: 4;
    }

    h1 {
        margin-bottom: 1.2rem;
        font-family: 'Roboto Mono', monospace;
        font-size: 3rem;

        align-self: flex-start;
    }

    &__project {
        position: relative;
    }

    &__img-wrapper {
        @include flex-center();
        
        width: 100%;
        height: 100%;

        overflow: hidden;
        cursor: pointer;
        
        :hover > &,:active > &,:focus > & {
            .works__img {
                transform: scale(1);
    
                img {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &__img {
        @include flex-center();

        $img-side: 100%;

        width: $img-side;
        height: $img-side;

        position: relative;
        overflow: hidden;
        
        transform: scale(0.9);

        transition: transform $timing;

        img {
            position: absolute;
            max-height: 100%;
            transform: scale(1.2);
            transition: transform $timing, opacity $timing;
        }

        @include for-tablet-portrait-up {
            img {
                opacity: 0.6;
            }
        }
    }

    &__title {
        position: absolute;
        bottom: 0;
        right: 0;
        mix-blend-mode: difference;
        transition: all $timing;

        :hover > & {
            bottom: 10px;
            right: 10px;
        }
    }
}